.task-item {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  cursor: pointer;
  margin-bottom: 8px;
  width: 100%;
  padding: 14px 9px;
  color: white;
  font-size: 14px;
}

.task-item input[type="text"] {
  border: none;
  font-size: 14px;
  display: block;
  width: 100%;
}

.task-item select {
  display: block;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  width: 100%;
  margin-top: 8px;
  border-radius: none;
 
  );
}
.task-item select:focus-visible{
  border-radius: 9px;
}